* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-home: #000;
    --text-color: #ffffffb9;
    
    font-size: 62.5%;
}

/* Geral ============================ */
html, 
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Manrope', sans-serif;
    font-size: 1.6rem;
    background-color: var(--background-home);
    text-align: center;
}

img {
    width: 100%;
}


.wrapper {
    width: min(40rem, 100%);
    margin-inline: auto;
}


/* HOME ======================= */

section .content {
    display: flex;
    flex-direction: column;
    padding-block: 5rem;
}

.content img {
    width: 18rem;
    margin-inline: auto;
}

.content h1 {
    margin-top: 2rem;
    font-size: 3rem;
    color: #fff;
}

.content p {
    margin-top: 1.8rem;
    margin-bottom: 1rem;
    font-size: 2rem;
    color: var(--text-color);
}

.content div {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    margin-top: 2rem;
} 

div input {
    width: 100%;
    height: 4rem;

    border-radius: 1rem;
    color: #000;
    font-size: 1.6rem;

    padding: 2rem 1.5rem;
}

div button {
    width: 50%;
    height: 4rem;
    
    border-radius: 1.5rem;
    border: none;

    margin-inline: auto;
    
    color: var(--text-color);
    font-weight: 700;
    font-size: 2rem;
    background-color: #008000;
    cursor: pointer;

    transition: background 300ms;
    transition: color 300ms;
}

div button:hover {
    background-color: #3631313e;
    color: #008000;
}

#response  {
    transition: opacity 1s;
}

h3#response {
    color: #fff;
    margin-top: 1rem;
}